{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <label for="username">Username</label>
    <input type="text" id="username" class="form-control input-sm chat-input" name="_username"
           value="{{ last_username }}" required="required"/>

    <label for="password">Password</label>
    <input type="password" id="password" class="form-control input-sm chat-input" name="_password" required="required"/>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
    <label for="remember_me">remember me</label>

    <input type="submit" id="_submit" name="_submit" class="form-control btn btn-default" value="Login"/>
</form>
