{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">


                {{ include('@FOSUser/Security/login_content.html.twig') }}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
