<!DOCTYPE html>
<html>
<head>
    <title>Chart</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>


<div id="container"></div>

</body>
</html>