<!DOCTYPE html>
<html>
<head>
    <title>Chart</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Temper test</a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li><a href="{{ path('json') }}">Dump json in use</a></li>
            <li class="active"><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
        </ul>
    </div>
</nav>
<div class="container">

    <div id="container"></div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
    $(function () {
        var seriesData = {{ chart|raw }};
        Highcharts.chart('container', {

            title: {
                text: 'Temper User Cohot'
            },
            yAxis: {
                title: {
                    text: 'On boarding step (%)'
                },
                min: 0,
                max: 100,
                tickInterval: 10,
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            xAxis: {
                title: {
                    text: 'Day of the week'
                },
                //categories:{{ chart_label | raw }}
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: true
                    },
                    pointStart: 0
                }
            },

            series: seriesData,

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });
    })
    ;
</script>

</body>
</html>